.auth-layout {
  display: flex;
  height: 100vh;
  
  .auth-img {
    flex: 3;
    background-image: url('@/assets/auth-bg.jpg');
    background-size: cover;
    background-position: 100% 10%;
  }

  .auth-login {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}