button {
    background-color: transparent;
    border: none;
}

.image-cell {
  width: 120px;
  margin: 20px 105px;
  display: flex;
  justify-content: center;

  svg {
    width: 100px;
    height: auto;
  }
}

.row-collapse-btn {
rotate: z 180deg;
}

.row-collapse-btn.collapsed {
rotate: z 0deg;
}