button {
    background-color: transparent;
    border: none;
}

.image-cell {
  width: 120px;
  margin: 20px 105px;
  display: flex;
  justify-content: center;

  svg {
    width: 100px;
    height: auto;
  }
}

.row-collapse-btn {
  transition: transform 0.2s ease;
  transform: rotate(0deg);
}

.row-collapse-btn:not(.collapsed) {
  transform: rotate(180deg);
}
